# Install direnv https://direnv.net/docs/installation.html
# Add file to whitelist at $HOME/.config/direnv/direnv.toml:
# [whitelist]
# exact = [ '/path/to/.envrc' ]
export FLY_API_TOKEN=$(fly auth token)
export CLOUDFLARE_API_TOKEN=$(bw get password cloudflare_terraform_token)
