#!/bin/sh
source ./helpers/bitwarden.sh

export FLY_API_TOKEN=$(get_password 'flyio - ansible')
export FLY_ORGANIZATION=$(get_custom_field 'flyio - uptime-kuma' 'FLY_ORGANIZATION')
export FLY_APP_NAME=$(get_custom_field 'flyio - uptime-kuma' 'FLY_APP_NAME')
export FLY_REGION=$(get_custom_field 'flyio - uptime-kuma' 'FLY_REGION')

export TF_VAR_zone_name=$(get_custom_field 'flyio - uptime-kuma' 'ZONE_NAME')
export TF_VAR_domain_name=$(get_custom_field 'flyio - uptime-kuma' 'DOMAIN_NAME')
export CLOUDFLARE_API_TOKEN=$(get_custom_field 'flyio - uptime-kuma' 'CLOUDFLARE_API_TOKEN')
export AWS_ACCESS_KEY_ID=$(get_custom_field 'flyio - uptime-kuma' 'AWS_ACCESS_KEY_ID')
export AWS_SECRET_ACCESS_KEY=$(get_custom_field 'flyio - uptime-kuma' 'AWS_SECRET_ACCESS_KEY')
export AWS_DEFAULT_REGION=$(get_custom_field 'flyio - uptime-kuma' 'AWS_DEFAULT_REGION')
